/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #222;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}